*{
    margin: 0;
    padding: 0%;
}

nav a:hover{
    color: rgb(220,220,220) !important;
}

.location:hover{
    background-color: white;
    color: black !important;
}

.heading{
    font-size: 50px;
    font-weight: bold;
}

.footer-links{
    padding-left:10px ;
    font-size: 12px;
}

.horizontal-line{
    border-top: 2px solid #bdbdbd;
}

.map{
    width: 40%;
    border: black;
}

#over{
    height: 100vh !important;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0%;
    display: none ;
}

.fluidrow{
    height: 100vh;
}

.fluidcolumn{
    height: 70vh;
    margin-top: 8%;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.header{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
}

.header a{
    padding-bottom: 15px;
}